.share__text-twitter{
  @include centered ();
  flex-direction: column;
}
.hidden{
  display: none;
}
.share__title-twitter{
  text-transform: lowercase;
  color: $intermediate-grey;
  font-size: $font-md;
  margin: 20px 0;
  text-align: center; 
}
.orange-text{
  color: $dull-orange;
  /* loading dots */
  &:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
}
.share__title-twitter::first-letter{
  text-transform: uppercase;
}
.link-twitter .twitter-url{
  margin-top: 5px;
  display: flex;
  text-align: center;
  text-decoration:none;
  font-size: $font-xs;
  text-transform: lowercase;
  color: $dull-orange;
}
.button-twitter{
  background-color: $twittwe-blue;
  height: 30px;
  color: $white;
  border-radius: 3px;
  padding: 3px 15px;
  font-size: 14px;
  font-family: $OpenSans;
  text-decoration:none;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  @include centered ();
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}
.line-bottom{
  border-bottom: solid 1px #d8d8d8;
  margin-top: 0px;
}
.text-link-twitter{
  text-transform: lowercase;
  padding-left: 9px;
}
.text-link-twitter:before{
  text-transform: lowercase;
  content: "\f099";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Brands";
  color: $white;
}
.text-link-twitter::first-letter{
  text-transform: uppercase;
  padding-bottom: 30px;
  margin-left: 10px;
  padding: 0px;
}
.content__twitter-container{
  .line-bottom{
    border-bottom: solid 1px #fff;
    @media all and (min-width:768px){
    border-bottom: solid 1px #d8d8d8;
    margin: 0 30px 0 20px;
  }
  }
}
@media all and (min-width:768px){
  .share__fieldset .container{
    margin-right: 30px;
  }
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: $dull-orange;
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
    .25em 0 0 $dull-orange,
    .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
    .25em 0 0 $dull-orange,
    .5em 0 0 $dull-orange;
  }
}

 .line-bottom.share{
  border-bottom: solid 1px #d8d8d8;
}
